<div class="banner" style="url(<%#= image_path "EthereumPurple.jpg" %>)">
  <div class="container text-center">
      <%#= image_tag "Logo.jpg", width: "400", height: "100"%>
      <p style=" font-size:125% "><strong>Let's be friends</strong></p>
      <p>

Since the beginning of our journey, we have met numerous people that helped us bring our initiative to life. 

You too can be part of this project.</p>
  </div>
</div>


  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Sign Up to Contribute!</h1>
  </div>

<div class="container">
  

  <div class="form-inputs">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

      <%= f.input :name %>
    
      <div class="p">Organisation type</div>
      <%= f.select :org_type, User.org_types.map { |key, value| [key.humanize, key] }, { include_blank: true }, class: "form-control" %>

      <%= f.input :end_point %>
 
      <%= f.input :email%>
      <%= f.input :phone%>
      <%= f.input :url%>
    
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.input :password %>
    

      <%= f.input :password_confirmation%>
      <%= f.input :description %>
    

    <div class="actions text-center">
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  <% end %>

  </div>

</div>