      <div class="sticky_botright">


          <div class="UX">
              <div class="bubble_landing">
                  <%= image_tag("logos/ResQ_Logo.png", alt: "ResQ") %>
              </div>
          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX1">

              <div class="bubble">

                  <div class="UX1_title">

                      <div class="title_styling"></div>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX1_content">


            <!-- TODO: Change names of button reds for UX1 -->
                      <a class="button-red2UK" style="color: #343435;">I need <strong>help</strong></a>
                      <a class="button-red3UK" style="color: #343435;">I want <strong>to help</strong></a>
                      <a class="en_savoir_plus" href="http://Resq-plugin.com" target=_blank style="color: #777575; font-style: italic;">Get to know more about this plug-in</a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX2">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX1") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-red4" style="color: #343435;">I'm a <strong>person</strong></a>
                      <a class="button-2" href="https://reachvolunteering.org.uk/im-an-organisation" target=_blank style="color: #343435;">I'm an <strong>organisation</strong></a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX3">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX1") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-red12" style="color: #343435;">I'm a <strong>person</strong></a>
                      <a class="button-2" href="https://www.gov.uk/coronavirus-support-from-business" target=_blank style="color: #343435;">I'm an <strong>organisation</strong></a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX4">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX2") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-red5" style="color: #343435;">Self-<strong>Isolated</strong></a>
                      <a class="button-red7" style="color: #343435;">On The <strong>Frontline</strong></a>
                      <a class="button-red8" style="color: #343435;">Others</a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX5">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX4") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-red6" style="color: #343435;">I'm <strong>Elderly</strong></a>
                      <a class="button-2" href="https://volunteering.royalvoluntaryservice.org.uk/nhs-volunteer-responders-portal/isolating" target=_blank style="color: #343435;">Get <strong>Support</strong></a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX6">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX5") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-2" href="https://www.ageuk.org.uk/services/in-your-area/shopping/" target=_blank style="color: #343435;">Grocery <strong>Shopping</strong></a>
                      <a class="button-2" href="https://volunteering.royalvoluntaryservice.org.uk/nhs-volunteer-responders-portal/isolating" target=_blank style="color: #343435;">Get <strong>Support</strong></a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX7">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX4") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-2" href="https://www.mentalhealthatwork.org.uk/ourfrontline/" target=_blank style="color: #343435;">Mental <strong>Health</strong></a>
                      <a class="button-2" href="https://volunteering.royalvoluntaryservice.org.uk/nhs-volunteer-responders-portal/isolating" target=_blank style="color: #343435;">Get <strong>Support</strong></a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX8">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX4") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-2" href="https://www.nhs.uk/oneyou/every-mind-matters/" target=_blank style="color: #343435;">Mental <strong>Health</strong></a>
                      <a class="button-2" href="https://www.minded.org.uk/" target=_blank style="color: #343435;"><strong>Parenting</strong></a>
                      <a class="button-red10" style="color: #343435;">Domestic <strong>Violence</strong></a>
                      <a class="button-red9" style="color: #343435;">Others</a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX9">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX8") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-2" href="https://www.turn2us.org.uk/" target=_blank style="color: #343435;">Financial <strong>Support</strong></a>
                      <a class="button-2" href="https://england.shelter.org.uk/" target=_blank style="color: #343435;">Housing <strong>Support</strong></a>
                      <a class="button-2" href="https://www.understandinguniversalcredit.gov.uk/employment-and-benefits-support/" target=_blank style="color: #343435;"><strong>Employment</strong></a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX10">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX8") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-2" href="https://www.nationaldahelpline.org.uk/How-can-we-support-you" target=_blank style="color: #343435;">National <strong>Helpline</strong></a>
                      <a class="button-2" href="https://www.policeconduct.gov.uk/sites/default/files/Documents/research-learning/Silent_solution_guide.pdf" target=_blank style="color: #343435;"><strong>Emergency</strong></a>
                      <a class="button-red11" style="color: #343435;">More</a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX11">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX10") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-2" href="https://mensadviceline.org.uk/" target=_blank style="color: #343435;">For <strong>Men</strong></a>
                      <a class="button-2" href="https://www.nationaldahelpline.org.uk/" target=_blank style="color: #343435;">For <strong>Women</strong> & <strong>Children</strong></a>
                      <a class="button-2" href="https://www.galop.org.uk/galop-to-run-national-lgbt-domestic-violence-helpline/" target=_blank style="color: #343435;">For <strong>LGBT</strong></a>
                      <a class="button-2" href="http://staysafe-east.org.uk/" target=_blank style="color: #343435;">For the <strong>Deaf</strong> or <strong>Disabled</strong></a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX12">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX3") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-red13" style="color: #343435;">Volunteer your <strong>time</strong></a>
                      <a class="button-red14" style="color: #343435;">Donate your <strong>blood</strong></a>
                      <a class="button-red15" style="color: #343435;">Donate <strong>money</strong></a>
                      <a class="button-red16" style="color: #343435;">Donate <strong>material</strong></a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX13">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX12") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-2" href="https://reachvolunteering.org.uk/i-want-volunteer" target=_blank style="color: #343435;">Reach Volunteering</a>
                      <a class="button-2" href="https://volunteering.royalvoluntaryservice.org.uk/nhs-volunteer-responders-portal/volunteers" target=_blank style="color: #343435;">NHS</a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX14">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX12") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-2" href="https://www.blood.co.uk/news-and-campaigns/news-and-statements/coronavirus-covid-19-updates/" target=_blank style="color: #343435;">Donate <strong>Blood</strong></a>
                      <a class="button-2" href="https://www.nhsbt.nhs.uk/how-you-can-help/convalescent-plasma-clinical-trial/" target=_blank style="color: #343435;">Donate <strong>Plasma</strong></a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX15">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX12") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-2" href="https://donate.redcross.org.uk/appeal/national-emergencies-trust-coronavirus-appeal" target=_blank style="color: #343435;">National Emergencies Trust</a>
                      <a class="button-2" href="https://donate.ageuk.org.uk/public/donate.aspx?content=coronavirus-b&maxy=b" target=_blank style="color: #343435;">Elderly People</a>
                      <a class="button-2" href="https://www.trusselltrust.org/make-a-donation/" target=_blank style="color: #343435;">Food Banks</a>
                      <a class="button-2" href="https://donate.refuge.org.uk/page/51133/donate/1" target=_blank style="color: #343435;">Women & Children Safety</a>
                      <a class="button-2" href="https://www.crisis.org.uk/get-involved/home-for-all/" target=_blank style="color: #343435;">Homeless People</a>
                      <a class="button-2" href="https://uk.virginmoneygiving.com/giving/NHSCharitiesCOVID19/" target=_blank style="color: #343435;">Hospitals</a>
                      <a class="button-2" href="https://covid19responsefund.org/" target=_blank style="color: #343435;">COVID - World</a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>

          <div class="UX16">

              <div class="bubble">

                  <div class="UX_title">

                      <%= image_tag("plugin/Back_Button.svg", alt: "Back", :class => "B2UX12") %>

                      <h3 class="resq_title">Covid-19</h3>

                      <%= image_tag("plugin/Close_Button.svg", alt: "Close", :class => "B1") %>

                  </div>

                  <div class="UX_content">

                      <a class="button-2" href="https://www.beautybanks.org.uk/" target=_blank style="color: #343435;">Beauty & Hygiene</a>
                      <a class="button-2" href="https://littlevillagehq.org/get-involved/donate/" target=_blank style="color: #343435;">Others (Little Village)</a>

                  </div>

              </div>

          </div>

<!-- ------------------------------------------------------------------------------------------------------------------------------>


</div>
