<div class="container">
	<div class="text-center">
		<h3><strong>How does it work for websites?</strong></h3>
	</div>
</div>




<div class="container m-5">
	<h3 class="m-5 text text-center"><strong>5 steps to install RESQ on your website</strong></h3>


	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	    	<%= image_tag("Rocketpool.png", :alt => "rss feed", :class => "img-fluid") %>
	    	<div class="carousel-caption d-none d-md-block">
	    		<h5>RocketPool is Cool</h5>
	   			<p>Blabla</p>
			</div>
	    </div>
	    <div class="carousel-item">
			<%= image_tag("Accountability_of_DAOs.jpg", :alt => "rss feed", :class => "img-fluid") %>    </div>
			  	<div class="carousel-caption d-none d-md-block">
	    		<h5>RocketPool is Cool</h5>
	   			<p>Blabla</p>
			</div>
	    <div class="carousel-item">
			<%= image_tag("Rocketpool.png", :alt => "rss feed", :class => "img-fluid") %>    </div>
			  	<div class="carousel-caption d-none d-md-block">
	    		<h5>RocketPool is Cool</h5>
	   			<p>Blabla</p>
			</div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>



<div class="centering">
  <div class="button_resq">
    <%= link_to 'Download', '#' %>
  </div>
</div>

<div class="centering">

    <div class="button_resq">
      <%= link_to 'Get in touch!', new_message_path %>
    </div>
    <div class="button_resq">
		  <a href="#" target="_blank">Rate us!</a>
    </div>

</div>


<%= render 'shared/plans_resq' %>


</div>

