<div class="grid_one_on_two">

  <div class="home_intro">

    <h2>ResQ, a direction<br><strong>WordPress plugin</strong></h2>
    <p>
      ResQ is a fairly <strong>simple tool</strong>. It allows users to be directed to pages of <strong>associations or support networks</strong>.
      <br>
      <br>
      To better understand it, use it!<br>
      It actually is the bubble on your right  👉
    </p>

    <div class="direction_btns">

      <div class="button_resq">
        <%= link_to 'Download', '#' %>
      </div>

      <div class="button_resq">
        <%= link_to 'Learn More', pages_for_website_path %>
      </div>

    </div>

  </div>

  <div class="in_illustration">
    <%= image_tag("Rocketpool.png", alt: "Resq Plugin Logo - A Socially Responsible Plugin") %>
  </div>
</div>

<div class="home_features">

  <div class="features_card">

    <div class="features_title">
      <h3><strong>Features</strong></h3>
      <p>These form the basis of our services</p>
    </div>

    <div class="features_columns">

      <div class="features_item">
        <div class="features_picto">

        </div>
        <strong>Personalizable</strong>
      </div>

      <div class="features_item">
        <div class="features_picto">

        </div>
        <strong>Secured Links</strong>
      </div>

      <div class="features_item">
        <div class="features_picto">

        </div>
        <strong>Redirection to trusted NGOs</strong>
      </div>

    </div>

    <div class="features_columns">

      <div class="features_item">
        <div class="features_picto">

        </div>
        <strong>Lean & accurate UI</strong>
      </div>

      <div class="features_item">
        <div class="features_picto">

        </div>
        <strong>Engagement drives customers back</strong>
      </div>

      <div class="features_item">
        <div class="features_picto">

        </div>
        <strong>End-page, opened in a new tab</strong>
      </div>

    </div>

  </div>

</div>


<div class="grid_2_equal_col">

	<div class="in_illustration">
    <%= image_tag("Rocketpool.png", alt: "Resq Plugin Logo - A Socially Responsible Plugin") %>
  </div>

	<div class="home_intro" id="home_intro_2">

		<h2>Don't lose traffic,<br> <strong>Develop your CSR</strong></h2>
		<p">So that sites that download ResQ <strong>don't worry about losing traffic</strong>, we found a simple but effective way to help:
      <br><strong>we open the direction page in a new tab</strong>.
      <br>
      <br>
      We also <strong>direct users to the end-pages</strong> of the organizations, so they can easily access to what they are searching for and come back to your website!
      <br>
      <br>
      This system allows websites to <strong>engage in causes</strong> that match their values and ambitions, while enabling them to <strong>keep growing their traffic</strong> 🚀
    </p>

    <div class="direction_btns" id="direction_btns_2">

      <div class="button_resq">
        <%= link_to 'Download', '#' %>
      </div>

      <div class="button_resq">
        <%= link_to 'Learn More', pages_for_website_path %>
      </div>

    </div>

	</div>

</div>


<div class="video_cont">

	<div class="video_card">
	  <h2><strong>THIS IS WHAT RESQ ACTUALLY LOOKS LIKE:</strong></h2>
		<%= video_tag "RESQ_Video.mp4", autoplay: true, loop: true, controls: true, muted: 'muted' %>
	</div>

</div>

<%= render 'shared/plans_resq' %>

