<div class="banner">
  <div class="container text-center">
      <p style=" font-size:125% "><strong>THANKS FOR SIGNING IN!</strong></p>
      <p>

Since the beginning of our journey, we have met numerous people that helped us bring our initiative to life. 

You too can be part of this project.</p>
  </div>
</div>


<%= link_to "Register Another Partner", destroy_user_session_path, :method => :delete  %>







<div class="banner" style="height: 400px;">
  <div class="row d-flex">
    <div class="container text-center">
      <p style=" font-size:125% "><strong>THEY TRUST US</strong></p>

     
      
        <%= image_tag "1_XiL2uG3_9cL9trxmjpPatQ.jpeg", width: "200", height: "95"%>
        <%= image_tag "1_XiL2uG3_9cL9trxmjpPatQ.jpeg", width: "200", height: "95"%>
        <%= image_tag "1_XiL2uG3_9cL9trxmjpPatQ.jpeg", width: "200", height: "95"%>
        <%= image_tag "1_XiL2uG3_9cL9trxmjpPatQ.jpeg", width: "200", height: "95"%>
        <%= image_tag "1_XiL2uG3_9cL9trxmjpPatQ.jpeg", width: "200", height: "95"%>
        <%= image_tag "1_XiL2uG3_9cL9trxmjpPatQ.jpeg", width: "200", height: "95"%>
        <%= image_tag "1_XiL2uG3_9cL9trxmjpPatQ.jpeg", width: "200", height: "95"%>
        <%= image_tag "1_XiL2uG3_9cL9trxmjpPatQ.jpeg", width: "200", height: "95"%>
        <%= image_tag "1_XiL2uG3_9cL9trxmjpPatQ.jpeg", width: "200", height: "95"%>

    </div>

  </div>
</div>


<div class="container">
    <p style=" font-size:125% "><strong>Join us on social media</strong></p>
    	<div class="text-center">

    	</div>
</div>


