<!DOCTYPE html>
<html>
  <head>
    <title>ResQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <nav class="nav nav-pills nav-fill">
        <%= link_to 'Home Page', root_path, class: "btn nav-item nav-link" %>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          How does it work?
        </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'For Users', pages_for_user_path, class: "dropdown-item" %>
            <%= link_to 'For Websites', pages_for_website_path, class: "dropdown-item" %>
          </div>
        <%= link_to 'Partnerships', new_user_registration_path, class: "btn nav-item nav-link" %>
        <%= link_to 'Privacy', pages_privacy_path, class: "btn nav-item nav-link" %>
        <%= link_to 'About', pages_about_path, class: "btn nav-item nav-link" %>
        <%= link_to 'Contact', pages_contact_path, class: "btn nav-item nav-link" %>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
